Source: v8cgi
Section: misc
Priority: optional
Maintainer: Ondřej Žára <ondrej.zara@gmail.com>
Build-Depends: debhelper (>= 8.0.0), 
				libv8-dev,
				libapr1-dev, 
				libmemcached-dev, 
				libmysqlclient-dev, 
				libpq-dev,
				libsqlite3-dev,
				libssl-dev,
				zlib1g-dev,
				libdg2-xpm-dev | libgd2-noxpm-dev
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/v8cgi/

Package: v8cgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wrapper around V8 Javascript engine
 Allows server-side JS scripting. Comes with several built-in 
 libraries (modules); some native, some implemented in javascript.

Package: v8cgi-doc
Architecture: all
Description: documentation for v8cgi
 <insert long description, indented with spaces>
