Source: teajs
Section: misc
Priority: optional
Maintainer: Ondrej Zara <ondrej.zara@gmail.com>
Build-Depends: debhelper (>= 8.0.0), 
				scons,
				perl,
				libv8-dev,
				libapr1-dev, 
				libmemcached-dev, 
				libmysqlclient-dev, 
				libpq-dev,
				libsqlite3-dev,
				libssl-dev,
				zlib1g-dev,
				libdg2-xpm-dev | libgd2-noxpm-dev,
				apache2-prefork-dev | apache2-threaded-dev
Standards-Version: 3.9.3
Homepage: http://code.google.com/p/teajs/

Package: teajs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-purpose server-side JavaScripting support, based on V8 engine
 Allows server-side JS scripting. Comes with several built-in 
 libraries (modules); some native, some implemented in JavaScript.
 TeaJS was previously known as v8cgi.

Package: libapache2-mod-teajs
Architecture: any
Section: httpd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache module for handling HTTP requests with TeaJS
 TeaJS built as Apache 2 module.

Package: teajs-mysql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TeaJS MySQL bindings module
 TeaJS module that offers an API to connect to MySQL servers.

Package: teajs-pgsql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TeaJS PostgreSQL bindings module
 TeaJS module that offers an API to connect to PostgreSQL servers.

Package: teajs-gd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TeaJS image manipulation module, based on GD
 TeaJS module that offers an image manipulation API.

Package: teajs-memcached
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TeaJS memcached bindings module
 TeaJS module that offers an API to connect to memcached.

Package: teajs-sqlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TeaJS SQLite bindings module
 TeaJS module that offers an API to connect to SQLite databases.
