Source: v8cgi
Section: misc
Priority: optional
Maintainer: Ondřej Žára <ondrej.zara@gmail.com>
Build-Depends: debhelper (>= 8.0.0), 
				scons,
				perl,
				libv8-dev,
				libapr1-dev, 
				libmemcached-dev, 
				libmysqlclient-dev, 
				libpq-dev,
				libsqlite3-dev,
				libssl-dev,
				zlib1g-dev,
				libdg2-xpm-dev | libgd2-noxpm-dev,
				apache2-prefork-dev | apache2-threaded-dev
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/v8cgi/

Package: v8cgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wrapper around V8 Javascript engine
 Allows server-side JS scripting. Comes with several built-in 
 libraries (modules); some native, some implemented in javascript.

Package: libapache2-mod-v8cgi
Architecture: any
Section: httpd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: v8cgi apache module
 v8cgi build as Apache 2 module.

Package: v8cgi-mysql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: v8cgi mysql module
 v8cgi module that offers an API to connect to MySQL servers.

Package: v8cgi-pgsql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: v8cgi pgsql module
 v8cgi module that offers an API to connect to PostgreSQL servers.

Package: v8cgi-gd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: v8cgi gd module
 v8cgi module that offers image an manipulation API.

Package: v8cgi-memcached
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: v8cgi memcached module
 v8cgi module that offers an API to connect to memcached.

Package: v8cgi-sqlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: v8cgi sqlite module
 v8cgi module that offers an API to connect to SQLite databases.
