#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
V8=/usr/include

%:
	dh $@ 

override_dh_auto_clean:
	scons v8_path=${V8} pgsql=1 -c 
	rm -f v8cgi.conf
	rm -f debian/v8cgi.1
	rm -f config.log

override_dh_auto_build:
	scons v8_path=${V8} pgsql=1
	cp v8cgi.conf.posix v8cgi.conf

override_dh_installman:
	pod2man --section=1 --release=$(VERSION) --center "" v8cgi.pod > debian/v8cgi.1
	dh_installman

# not done: gl?
# done: apache, mysql, sqlite, pgsql, tls, zlib, gd
